body{ font-family:"ו", Arial, sans-serif; font-size:12px;margin:0px;}
.clear{clear:both;font-size:1px; overflow:hidden;}
ul{margin:0px; padding:0px;}
li{list-style-type:none;outline:none;}
a{text-decoration:none;color:Black;outline:none;}
a:active {star:expression(this.onFocus=this.blur());} 
a:hover{color:black;}
a:focus{outline:none;}

img{border-style: none;
    border-color: inherit;
    border-width: 0px;
    
}
