<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
    <httpRuntime requestValidationMode="3.5"/>
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>

	<connectionStrings>
  <add name="Con" connectionString="server=localhost;user id=root;password=abc123;database=bbs;Allow User Variables=True" />
    <!--Allow User Variables=True可在SQL语句内添加自定义变量 -->
    
    <!--
  <add name="BBS-ZhangConnectionString" connectionString="server=localhost;user id=root;password=abc123;database=bbs; "
   providerName="System.Data.SqlClient" />
   -->
  <add name="bbsConnectionString" connectionString="server=localhost;user id=root;password=abc123;database=bbs;Allow User Variables=True"
   providerName="MySql.Data.MySqlClient" />
 </connectionStrings>

  <!--
  <appSettings>
    <add key="Con" value="server=localhost;user id=root;password=abc123;database=BBS;CharSet=utf8;Allow Zero Datetime=true"/>
    <add key="BBS-ZhangConnectionString" value="server=localhost;user id=root;password=abc123;database=BBS;CharSet=utf8;Allow Zero Datetime=true"/>
  </appSettings>
  -->
   
</configuration>
